    <style>
            html, body {
              width:  100%;
              height: 100%;
              margin: 0px;
            }
            canvas:active, canvas:focus {
                cursor:pointer;
            }
            #canvasContainer {
                border:1px solid black;
                width:200px;
                height:200px;
                position:relative;
            }
            #imageContainer {
                position:absolute;
                top:0px;
                left:0px;
            }
    </style>
<div class="row-fluid">
<div class="span2">

<p>
    <div>
        <a class="btn btn-primary btn-large" data-toggle="modal" href="#postModal" > 
        <i class="icon-share icon-white"></i>
            Post to Facebook
        </a>
    </div>
</p>
<p>
    <button class="btn btn-success btn-large" data-loading-text="Preparing Image..."  id="downloadImage">
        <i class="icon-download-alt icon-white"></i>
        Download Image
    </button>
</p>
<p>
    <div><a class="btn btn-large" data-toggle="modal" href="#loadModal" >
        <i class="icon-file"></i>
        Load Image</a>
    </div>
</p>

<div class="control-group">
        <label class="control-label" for="filter">Filter</label>
        <div class="controls">
          <select id="filter">
            <option selected="true" value="revert" data-opts="{}">No Filter</option>
            <option value="desaturate" data-opts="{}">Greyscale</option>
            <option value="sepia" data-opts="{}">Sepia</option>
            <option value="sharpen" data-opts="{}">Sharpen</option>
            <option value="fliph" data-opts="{}">Flip (Horizontal)</option>
            <option value="flipv" data-opts="{}">Flip (Vertical)</option>
            <option value="invert" data-opts="{}">Invert</option>
            <option value="pointillize" data-opts='{"radius":3, "density":1.5, "noise":1.0, "transparent":false}'>Paint</option>
            <option value="mosaic" data-opts='{"blockSize":4}'>Pixelate</option>
          </select>
            <label class="control-label" for="colorpicker">Stroke Color</label>
            <div class="input-append color" data-color="rgba(0, 0, 0,1.0)" data-color-format="rgba" id="colorpicker">
              <span class="add-on"><i style="background-color: rgba(0, 0, 0,1.0)"></i></span>
            </div>
            <label class="control-label" for="tools">Stroke Color</label>
            <div id="tools" class="btn-group" data-toggle="buttons-radio">
              <button id="paintTool" class="btn active">Paint</button>
              <button id="dropperTool" class="btn">Dropper</button>
              <button id="eraseTool" class="btn">Erase</button>
            </div>
        </div>
</div>


<div class="modal hide fade" id="loadModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h2>Load a Remote Image</h2>
  </div>
  <div class="modal-body">
    <p>
    <label>Image URL</label>
     <input type="text" id="url"  class="span4" placeholder="Remote Image URL...">
   </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" id="fetchImage" class="btn btn-primary">Load Image</a>
  </div>
</div>


<div class="modal hide fade" id="postModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Post to Facebook</h2>
      </div>
      <div class="modal-body">
        <p>
            <form id="uploadForm" action="/upload" method="POST">
                <input type="hidden" name="user" id="userId"/>
                <label>Message</label>
                <textarea class="input-xlarge" name="messageText" id="messageText"></textarea>
                <div class="btn-group">
                  <a class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-share icon-white"></i>
                    Post to Facebook
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <a href="#">Post to My Wall</a>
                    <a href="#">Post to User's Wall</a>
                    <hr/>
                    <a id="postImage" href="#">Upload Only</a>
                  </ul>
               </div>
                <input type="hidden" name="dataUrl" id="dataUrlUpload"/>
            </form>
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
</div>

<form id="downloadForm" action="/download" method="POST">
    <input type="hidden" name="dataUrl" id="dataUrl"/>
</form>
</div>
<div class="span10">
        
        <div id="canvasContainer">
            <div id="imageContainer"></div>
        </div>
</div>
<script type="text/javascript">
    var startUrl = "<%= req.params.url%>";
</script>
</script>
<script type="text/javascript" src="/scripts/kinetic-v3.9.8.min.js"></script>
<script src="/js/bootstrap-colorpicker.js"></script>
<script src="/js/pixtastic.min.js"></script>
<script type="text/javascript" src="/scripts/doodlr.js"></script>
  
